mixin promo()
  section.promo
    .container
      .promo__wrapper
        ul.promo__list
          li.promo__item(data-number="1") Выберите<br>направление
          li.promo__item(data-number="2") Изучите идеи<br>путешественников
          li.promo__item(data-number="3") Находите тех,<br>кто похож на вас
          li.promo__item(data-number="4") Путешествуйте<br>вместе!
