.countries {
  padding-top: 88px;
  padding-bottom: 87px;
  background-color: $color-solitude;
  position: relative;
  border-radius: 0 0 50px 50px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    top: -49px;
    background-color: $color-solitude;
    z-index: -10;
  }
}

.countries__wrapper {
  display: flex;
  gap: 172px;
  padding-top: 73px;
  padding-left: 70px;
  padding-bottom: 62px;
  background-image: url(../img/content/flags-back-desk.png);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 140px;
    top: 0;
    left: 0;
    background-color: $color-lavender;
    border-radius: 20px;
  }
}

.countries__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.countries__item {
  width: 560px;
  display: flex;
  justify-content: space-between;
  background-color: $color-default-white;
  margin-bottom: 10px;
  border-radius: 20px;
  position: relative;
  z-index: 5;

  &:last-child {
    margin-bottom: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, #EDEFF6 100%);

    &::after {
      content: "";
      position: absolute;
      width: 560px;
      height: 81px;
      top: 60px;
      left: 0;
      border-radius: 0 0 20px 20px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(237, 239, 246, 0.9) 100%);
    }
  }
}

.country__item-info {
  padding-left: 30px;
  padding-top: 24px;
  flex-grow: 1;
  position: relative;
}

.country__item-info h3 {
  @include font(24px, 24px, 700, $color-default-black);
  padding: 0;
  margin: 0 0 4px;
}

.country__item-slogan {
  @include font(20px, 20px, 500, $color-very-light-gray);
  padding: 0;
  margin: 0 0 23px;
}

.country__item-cont {
  @include font(20px, 20px, 500, $color-very-light-gray);
  padding: 0 0 0 32px;
  margin: 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../img/svg/icon-user.svg);
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: calc(50% - 10px);
  }
}

.country__item-info img {
  position: absolute;
  top: 23px;
  right: -34px;
}

.countries__item-image {
  border-radius: 20px;
}

.countries__title {
  @include font(45px, 45px, 700, $color-neon-carrot);
  margin: 0 0 58px;
  padding: 5px 0 0;
}

.countries__desc {
  @include font(28px, 33px, 300, $color-charcoal);
  margin: 0 0 128px;
  width:  378px;
}

.countries__link {
  @include font(24px, 24px, 700, $color-catalina-blue);
  padding: 29px 105px 27px 33px;
  background-color: $color-energy-yellow;
  border-radius: 20px;
  background-image: url(../img/svg/polygon.svg);
  background-repeat: no-repeat;
  background-position: 230px calc(50%);
}
