.navigation-dawn {
  padding-top: 15px;
  padding-bottom: 13px;
  margin-top: -108px;
}

.navigation-dawn .navigation-menu__links a {
  color: $color-default-black;
}

.navigation-dawn .navigation-menu::before {
  background-color: $color-default-black;
  width: 44px;
  left: 55px;
}
