.navigation-menu {
	padding-left: 145px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    top: 10px;
    left: 40px;
    background-color: $color-default-white;
  }
}

.navigation-menu__links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-menu__links a {
	@include font(20px, 20px, 500, $color-default-white);
	text-transform: uppercase;
}

.navigation-menu__links li {
	margin-left: 33px;

	&:first-child {
		margin-left: 0;
	}
}

.navigation-menu__link {
  display: none;
}

.navigation-menu__user-links {
  display: none;
}

.navigation-menu__social-links {
  display: none;
}
