mixin header()
  header.header()
    .container
      +navigation()
      .header__info
        h2.header__title В&nbsp;путешествие с&nbsp;крутыми попутчиками!
        +img("content", "img-header-desk", "png", 431, 640, "Изображение путешественника с чемоданом")
        .header__desc
          p.header__slogan «Лучшее приложение, что я видел в жизни!»
          p.header__author Мурат Эльтазин<br>главный редактор газеты «гаджетлайф»
